{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load codalab_tags %}
{% load tz %}

{% block page_title %}开发者数据实验站{% endblock page_title %}
{% block head_title %}开发者数据实验站{% endblock %}

<h2>{{ user.username }}</h2>
{% block content %}
<!--<script type="text/javascript">-->
    <!--function myCheck1()-->
    <!--{-->
        <!--alert("hello");-->
        <!--uploadfile.submit();-->
    <!--}-->
    <!--function myCheck2()-->
    <!--{-->
<!--//        if(form2.text2.value=="")-->
<!--//        {-->
<!--//            alert("内容不能为空,请输入内容");-->
<!--//            form2.text2.focus();-->
<!--//            return ;-->
<!--//        }-->
        <!--alert("world");-->
        <!--uploadmethod.submit();-->
    <!--}-->
<!--</script>-->

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped ">
            <tr>
                <th>提交文件</th>
                <td>
                    <p>kind:{{kind}}</p>
                    {% if documentss %}
                    <ul>
                        {% for document in documentss %}
                        <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No documents.</p>
                    {% endif %}
                    <!-- Upload form. Note enctype attribute! -->
                    <form action="{% url 'developerlab_upload' %}" name="uploadfile" id= "uploadfile1" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>{{ form.non_field_errors }}</p>
                        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
                        <p>
                            {{ form.docfile.errors }}
                            {{ form.docfile }}
                        </p>
                        <p><input type="submit" name="uploadfile" value="上传文件"></p>
                    </form>
                    <p>上传的压缩包文件格式，请参照</p>
                    </td>
            </tr>

            <form action="{% url 'developerlab_do' %}" name="uploadmethod" id= "uploadfile2" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <tr>
                <th align="right">样本类别</th>
                <td align="left"><input type="radio" name = "kind" value = "text" checked>文本</td>
            </tr>
            <tr>
                <th>算法选择</th>
                <td align="left"><input type="radio" name = "alg" value = "binary" checked>二元分类
                    <input type="radio" name = "alg" value = "multilabel">多元分类
                    <!--<input type="radio" name = "alg" >多标签</td>-->
            </tr>
            <tr>
                <th>策略选择</th>
                <td align="left"><input type="radio" name = "strategy" value = "us" checked>不确定采样法(Uncertainty Sampling)
                    <input type="radio" name = "strategy" value = "qbc">委员会问询法(Query By Committee)
                    <!--<input type="radio" name = "strategy" >自动选择最优算法-->
                </td>
            </tr>

                    <!--如果是压缩包-->
                    {% if ifzip == 1 %}
                        <!--合理-->
                        {% if iftrain == 1 and ifunlabel == 1 %}
                            {% if iftest == 0 %}
                                 <tr>
                                     <th>验证集比例</th>
                                    <td><input type = "text" name = "testsize">系统并未检测到验证集，请设置验证集比例。范围0.00-1.00，建议值0.2-0.4</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <th>验证集比例</th>
                                    <td>无需设置。系统已检测到你已经上传验证集。</td>
                                </tr>
                            {% endif %}
                                <tr>
                                    <th>标记实例个数</th>
                                    <td><input type = "text" name = "numneedtobelabeled">1-{{numofunlabel}}个。系统共检测到{{numofunlabel}}未标注实例。</td>
                                </tr>
                            <tr>
                                <th>标注方式</th>
                                <td align="left"><input type="radio" name = "markmethod" value = "returnentities"checked>返回需标注的实例名称
                                {% if ifdataset == 1 %}
                                    <input type="radio" name = "markmethod" value = "sendtoBMT" >发往交互平台众包标注
                                    {% endif %}
                    <p><input type="submit" name="uploadmethod" value="确认执行"></p>
            </form>
                         <!--如果是压缩包，但缺少文件-->
                        {% else %}
                             {% if iftrain == 0 and ifunlabel == 1 %}<p>压缩包中缺少必要的训练集train.txt，请重新上传可用压缩包</p>{% endif %}
                             {% if iftrain == 1 and ifunlabel == 0 %}<p>压缩包中缺少必要的未标注实例集合unlabel.txt，请重新上传可用压缩包</p>{% endif %}
                             {% if iftrain == 0 and ifunlabel == 0 %}<p>压缩包中缺少必要的训练集train.txt和未标注实例集合unlabel.txt，请参考格式后重新上传可用压缩包</p>{% endif %}{% endif %}
                                    <!--如果未上传压缩包-->
                    {% elif ifzip == 0 %}
                                    <p> 请先上传符合格式的压缩包.zip文件 </p>
                                    <!--如果上传的不是压缩包-->
                    {% else %}
                                    <p> 【错误！】你上传的不是压缩包.zip文件。上传的压缩包文件格式，请参照 </p>
                    {% endif %}
                                </td>

                             </tr>
            <tr>
                <th>测试样例</th>
                <td>{{docfilecopy}}
                    {{kind}}
                </td>
            </tr>

            <tr>
                <th>执行结果</th>
                <td>
                    {% if di %}
                    <ul>
                        {% for d in di %}
                        <li>{{d}}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>暂无结果</p>
                    {% endif %}
                </td>
            </tr>>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
