{% extends 'base.html' %} {% load i18n %} {% load staticfiles %} {% load codalab_tags %} {% load tz %} {% block page_title %}开发者数据实验站{% endblock page_title %} {% block head_title %}开发者数据实验站{% endblock %}
<h2>{{ user.username }}</h2> {% block content %}
<script type="text/javascript">

function exec1 (command) {
  var ws = new ActiveXObject("WScript.Shell");
  ws.exec(command);
}
function checkform() {
    numsnull = $("#idnumneedtobelabeled").val();
    numbers = $("#numofunlabel").val();
    testsize = $("#idtestsize").val();
    ifsendtoBMT = $("#radio_senttoBMT").val();

    $("#clearbutton").click(function() {
        return true;
    });

    if (testsize == "") {
        alert("请输入验证集比例！");
        return false;
    } else if (testsize > 1 || testsize <= 0) {
        alert("请输入一个0-1之间的验证集比例！建议范围0.20-0.40")
        return false;
    }
    // if (numsnull == "") {
    //     alert("请输入标注集个数！");
    //     return false;
    // }
    else if (parseInt(numsnull) > numbers) {
        alert("你输入的标注实例个数大于系统检测到的最大验证集！");
        return false;
    }
    return true;
}
</script>
<script>
$(document).ready(function() {

    $("#binary").click(function() {
         $("#mlogic").show().click(function() {
            $("#algforbinary").show();
            $("#algfordal").hide();
            $("#algformultilabel").hide();
         });
         $("#msvm").show().click(function() {
            $("#algforbinary").show();
            $("#algfordal").hide();
            $("#algformultilabel").hide();
         });
         $("#mdal").show().click(function() {
            $("#algforbinary").hide();
            $("#algfordal").show();
            $("#algformultilabel").hide();
         });
    });
    $("#multiclass").click(function() {
         $("#mlogic").hide();
         $("#msvm").show().click(function() {
            $("#algforbinary").show();
            $("#algfordal").hide();
            $("#algformultilabel").hide();
         });
         $("#mdal").show().click(function() {
            $("#algforbinary").hide();
            $("#algfordal").show();
            $("#algformultilabel").hide();
         });
    });
    $("#multilabel").click(function() {
         $("#mlogic").hide();
         $("#mdal").hide();
         $("#msvm").click(function() {
            $("#algforbinary").hide();
            $("#algfordal").hide();
            $("#algformultilabel").show();
         });
    });

    $("#bmtpassword").hide();
    $("#bmt_taskname").hide();
    $("#bmt_taskdescribe").hide();
    $("#bmt_price").hide();
    $("#bmt_deadline").hide();

    $("#radio_returnentities").click(function() {
        $("#bmtpassword").hide();
        $("#bmt_taskname").hide();
        $("#bmt_taskdescribe").hide();
        $("#bmt_price").hide();
        $("#bmt_deadline").hide();
    });

    $("#radio_senttoBMT").click(function() {
        $("#bmtpassword").show();
        $("#bmt_taskname").show();
        $("#bmt_taskdescribe").show();
        $("#bmt_price").show();
        $("#bmt_deadline").show();
    });

    $("#getlabeledbutton").click(function() {
        $("#bmt_result_url").show();
        }
    );


});
</script>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped ">
            <tr>
                <th align="right">提交文件</th>
                <td align="left">
                    <p>当前最多支持展示最近上传的十个文件</p>
                    {% if documentss %}
                    <ul>
                        {% for document in documentss %}
                        <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No documents.</p>
                    {% endif %}
                    <!-- Upload form. Note enctype attribute! -->
                    <form action="{% url 'developerlab_upload' %}" name="uploadfile" id="uploadfile1" method="post" enctype="multipart/form-data" onsubmit="return checkform()">
                        {% csrf_token %}
                        <p>{{ form.non_field_errors }}</p>
                        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
                        <p>
                            {{ form.docfile.errors }} {{ form.docfile }}
                        </p>
                        <p>
                            <input type="submit" name="uploadfile" value="上传文件">
                        </p>
                        <p>上传的压缩包文件格式，请参照</p>
                </td>
            </tr>
            <tr>
                <th align="right">样本类别</th>
                <td align="left">
                    <input type="radio" name="kind" value="text" checked>文本
                    <!--<input type="radio" name = "kind" value = "image" >图片</td>-->
            </tr>

            <tr>
                <th>策略选择</th>
                <td align="left">
                    <input type="radio" name="strategy" value="binary" id="binary"><label for="binary">二元分类（Binary-Class）</label>
                    <input type="radio" name="strategy" value="multiclass" id="multiclass"><label for="multiclass">多元分类(Multi-Class)</label>
                    <!--<input type="radio" name="strategy" value="multilabel" id="multilabel"><label for="multilabel">多标签分类(Multi-Label)</label></td>-->
                <!--<input type="radio" name = "alg" >多标签</td>-->
            </tr>
            <tr>
                <th align="right">模型选择</th>
                <td align="left">
                    <span id="mlogic"><input type="radio"  name="model" id="model_logic" value="logic"><label for="model_logic">逻辑回归</label></span>
                    <span id="msvm"><input type="radio"  name="model" id="model_svm" value="svm"><label for="model_svm">支持向量机</label></span>
                    <span id="mdal"><input type="radio"  name="model" id="model_dal" value="dal"><label for="model_dal">深度主动学习框架</label></span>
                </td>
            </tr>
            <tr>
                <th>算法选择</th>
                <td align="left">
                    <div id="algforbinary">
                        <input type="radio" name="alg" id="alg_us_binary" value="us" checked><label for="alg_us_binary">不确定采样法(Uncertainty Sampling)</label>
                        <input type="radio" name="alg" id="alg_qbc_binary" value="qbc"><label for="alg_qbc_binary">委员会问询法(Query By Committee)</label>
                        <input type="radio" name="alg" id="alg_albl_binary" value="albl"><label for="alg_albl_binary">自动选择最优算法</label>
                    </div>
                     <div id="algfordal" style="display: none;">
                        <input type="radio" name="alg" id="alg_cnn_dal" value="cnn"><label for="alg_cnn_dal">CNN</label>
                        <input type="radio" name="alg" id="alg_rnn_dal" value="rnn"><label for="alg_rnn_dal">RNN</label>
                    </div>
                    <!--<div id="algformulticlass" style="display: none;">-->
                        <!--<input type="radio" name="alg" value="us" checked>不确定采样法(Uncertainty Sampling)-->
                        <!--<input type="radio" name="alg" value="qbc">委员会问询法(Query By Committee)-->
                        <!--<input type="radio" name="alg" value="albl">自动选择最优算法-->
                    <!--</div>-->
                    <div id="algformultilabel" style="display: none;">
                        <input type="radio" name="alg" id="alg_us_label" value="us" checked><label for="alg_us_label">不确定采样法(Uncertainty Sampling)</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Batch大小</th>
                <td align="left"><input type="text" id="idbatchsize" name="batchsize">如不填写则默认为1</td>
            </tr>
            <!--如果是压缩包-->
            {% if ifzip == 1 %}
            <!--合理-->
            {% if iftrain == 1 and ifunlabel == 1 %} {% if iftest == 0 %}
            <tr>
                <th>验证集检测</th>
                <td>抱歉！您未上传验证集，请重新上传。</td>
                    <!--<input type="text" id="idtestsize" name="testsize">系统并未检测到验证集，请设置验证集比例。范围0.00-1.00，建议值0.2-0.4</td>-->
            </tr>
            {% else %}
            <tr>
                <th>验证集检测</th>
                <td>恭喜！系统已检测到你已经上传验证集。</td>
                <p id="bmt_result_url"><a href={{bmtcsv_url}}>标注任务结果返回</a></p>
            </tr>
            {% endif %}
            <tr>
                <th>标记实例个数</th>
                <td>
                    <input type="text" id="idnumneedtobelabeled" name="numneedtobelabeled">1-{{numofunlabel}}个。系统共检测到{{numofunlabel}}未标注实例。</nobr>
                </td>
            </tr>
            <tr>
                <th>标注方式</th>
                <td align="left">
                    {% if ifdataset == 1 %}
                    <input type="radio" name="markmethod" value="returnentities" checked id="radio_returnentities">返回需标注的实例名称
                    <input type="radio" name="markmethod" value="sendtoBMT" id="radio_senttoBMT">发往交互平台众包标注 {% else %}
                    <input type="radio" name="markmethod" value="returnentities" checked>返回需标注的实例名称 {% endif %}
                    <div id="bmtpassword">
                        <p>请输入BuaaMT密码
                            <input type="password" name="bmtpassword">
                        </p>
                        <p><i>（注:如先前未注册过，该密码即为注册密码）</i></p>
                    </div>
                    <div id="bmt_taskname">
                        <p>请输入标注任务的名称
                            <input name="bmt_taskname" placeholder="如：垃圾邮件标注">
                        </p>
                    </div>
                     <div id="bmt_taskdescribe">
                        <p>请输入标注任务的描述
                            <input name="bmt_taskdescribe" placeholder="如：请判断该内容是否是垃圾邮件？">
                        </p>
                    </div>
                    <div id="bmt_price">
                        <p>请输入每个标注单价（默认为1）
                            <input name="bmt_price" placeholder="如：1" >
                        </p>
                    </div>
                    <div id="bmt_deadline">
                        <p>请输入任务截止日期（yyyymmdd）
                            <input name="bmt_deadline" placeholder="如：20180101">
                        </p>
                    </div>

                    <p>
                        <input type="submit" id="uplaodtmethod" name="uploadmethod" value="确认执行">
                        <input type="submit" name="clearall" id="clearbutton" value="清除提交内容">
                        <input type="submit" name="getlabeled" id= "getlabeledbutton" value="获取标注结果">
                    </p>
                </td>
            </tr>
            <!--如果是压缩包，但缺少文件-->
            {% else %} {% if iftrain == 0 and ifunlabel == 1 %}
            <p>压缩包中缺少必要的训练集train.txt，请重新上传可用压缩包</p>{% endif %} {% if iftrain == 1 and ifunlabel == 0 %}
            <p>压缩包中缺少必要的未标注实例集合unlabel.txt，请重新上传可用压缩包</p>{% endif %} {% if iftrain == 0 and ifunlabel == 0 %}
            <p>压缩包中缺少必要的训练集train.txt和未标注实例集合unlabel.txt，请参考格式后重新上传可用压缩包</p>{% endif %}{% endif %}
            <!--如果未上传压缩包-->
            {% elif ifzip == 0 %}
            <p> 请先上传符合格式的压缩包.zip文件 </p>
            <!--如果上传的不是压缩包-->
            {% else %}
            <p> 【错误！】你上传的不是压缩包.zip文件。上传的压缩包文件格式，请参照 </p>
            {% endif %}
            </form>
            {% if ifzip == 1 %} {% if di %}
            <tr>
                <th>效果预览</th>
                <td>
                    <img src="{{picture_url}}">
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>执行结果</th>
                <td>
                    {% if di %}
                    <p> <a href={{csvdir}}> 点击链接下载待标注的实例</a></p>
                    <ul>
                        {% if ifsendtoBMT %} {% if rec_status == 400 %}
                        <script type="text/javascript">
                        alert("链接标注平台超时！");
                        </script>
                        {% elif rec_status == 200 %}
                        <p>恭喜，已发送到标注平台，<a href="http://{{rec_url}}">点击链接直接跳转完成任务发布</a></p>



                        {% else %}
                        <script type="text/javascript">
                        alert("链接标注平台失败！");
                        </script>
                        {% endif %} {% endif %}
                        <!--{% for d in di %}-->
                        <!--<li>{{d}}</li>-->
                        <!--{% endfor %}-->
                    </ul>
                    {% else %}
                    <p>暂无结果</p>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}